div {
  margin-bottom: 16px;
  display: grid;
  align-items: center;
  justify-content: center;
}
h1 {
  text-align: center;
}
b {
  text-align: center;
}
video {
  max-height: 100%;
  max-width: 100%;
}
#video-container {
  line-height: 0;
}
